@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #F2F2F2;
}

body {
  width: 900px;
  background-color: #FFFDFF;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

header {
  position: relative;
  top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 3px solid #848484;
  border-left: 3px solid #848484;
  border-right: 3px solid #848484;
}

header h1 {
  text-align: center;
  margin: 30px;
  color: #049DBF;
}

header p {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #848484;
  color: #848484;
  line-height: 1px;
  margin: 10px 0 30px;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: bold;
}

header p span {
  background: #FFFDFF;
  padding: 10px 10px;
}

main {
  display: flex;
  width: 100%;  
}

.left {
  width: 70%;
  margin: 30px 20px;
}

.right {
  width: 30%;
  margin: 30px 20px;
}

h2 {
  font-style: italic;
  color: #049DBF;
  border-bottom: 3px solid #848484;
  padding-bottom: 10px;
}

h3 {
  line-height: 30px;
}

.summary p {
  padding: 20px 0;
  text-align: justify;
}

.experience p {
  font-style: italic;
}

.experience ul,
.education ul {
  padding: 0 0 20px 20px;
}

.contact li,
.skills li,
.personal li,
.referal li {
  list-style: none;
}

.contact ul {
   padding: 20px 0;
}

.skills ul,
.personal ul,
.referal p {
  padding: 10px 0;
}

.skills li,
.personal li {
  padding-bottom: 5px;
}